@import "media/headerMedia.scss";
@mixin mainFont {
  font-family: 'Montserrat', sans-serif;}
  @mixin headerStyle {
    font-weight: 600;
        font-size: 4em;
        padding-top: 1em;
  }
  body{
    @include mainFont;
    min-width: 375px ;

  }
.wraper{
   .header {
     position: fixed;
     left: 0;
     top: 0;
     z-index: 50;
     width: 100%;
     background-color:white;
     &::before{
       content: "";
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;

     }
    .container {
      max-width: 1440px;
      margin: 0 auto;
      padding:0 10em;

       .header__burger {
        cursor: pointer;

      }
      .header__menu {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: space-between;

        &::after{
          content:"";
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 1px;
          background-color:black;
        }
        .header__list {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          height: 5em;




        li {

          .header__link {
            font-weight: 500;

             &:hover {
               font-weight: 700;
             }
            &:active {}
            &:focus {}
          }
        }
      }
      }
    }
  }
}






  .face {

    max-width:1440px;
      margin: 0 auto;
      padding: 7em 10em;

    .container {

      .face__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 3em;
        .name {
          font-weight: 700;
          font-size:3em;
          line-height: 100%;

        }
        .profecional {
        }
        .leng {
          transform: rotate(-90deg);
        }
        .eng {
          &:hover {font-weight: 500;}
          &:active {
            font-weight: 700;
          }
          &:focus { font-weight: 700;}
        }
        .ru {
          &:hover {font-weight: 500;}
          &:active {
            font-weight: 700;
          }
          &:focus {font-weight: 700;}
        }
      }
      .face__img {

        &-desctop{
          background: url(img/descFoto.png),no-repeat;
          background-size: cover;
          background-position: center;
          width: 1000px;
          margin: 0 auto;
          height:300px;

        }
      }
    }
  }

  .about {
    .container {
      text-align: center;
      background-color: #F6F6F6;

      .about__header.header {
        font-weight: 600;
        font-size: 4em;
        padding-top: 1em;
      }
      .about__text {
        max-width: 30%;
        margin: 0 auto;
        &--p{
          padding: 1em;
        }
      }
    }
  }

  .skills {
    .container {
      max-width: 1120px;
      margin: 0 auto;
      .skills__header.header {
        font-weight: 600;
        font-size: 4em;
        padding-top: 1em;
        text-align: center;

      }
       .skills__text{
         display: block;
          font-size:  23px;
         text-align: center;
         margin: 3em 0;
        }
        .skills__outer{
          display: inline-grid;
          grid-template-columns: repeat(4, 1fr);

          width: 100%;

        .skills__icon {
        display: flex;
        &--single {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 3% auto;

        }
        .icon {
          margin: 0 auto;
          .icon img {

          }
        }
        .icon-header {
          font-size: 15px;
          margin: 1em 1.5em;
        }
        .rating {
          display:flex;
          flex-direction:row-reverse;

          &[data-total-value="1"] .rating__icons:nth-child(n+5),
          &[data-total-value="2"] .rating__icons:nth-child(n+4),
          &[data-total-value="3"] .rating__icons:nth-child(n+3),
          &[data-total-value="4"] .rating__icons:nth-child(n+2),
          &[data-total-value="5"] .rating__icons:nth-child(n+1){
            color: orange;
          }

          &__icons {
            font-size: 40px;
            cursor: pointer;
            color: #E5E5E5;
            transition: .2s;
            &:hover,
             &:hover~ .rating__icons{
              color: black;

            }
          }
        }
      }
    }

    }
  }

  .portfolio {
    background-color:#F6F6F6;

    .container {
      max-width: 1140px;
      margin: 0 auto;
      .portfolio__list {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;

        .portfolio__header {
          @include headerStyle();
        }

        .potfolio-pages {
          margin-top: 2em;
          margin-bottom: 4em;
          &:hover {
            text-decoration: underline;
          }
          &:active {
            border: black solid 1px;
          }
          &:focus {border: black solid 1px;}
        }
      }
    }
  }

  .contacs {
    .container {
      text-align: center;
      max-width: 1440px;
      margin: 0 auto;
      .contacs__list {

        .header {
          @include headerStyle();
        }
        .what {
          line-height: 17px;;
        }

        .button-send {
          @include mainFont();
          font-weight: 600;
          color: white;
          width: 180px;
          height: 60px;
          background-color:black;
          border-radius:40px ;
          margin: 2em 1em;
          cursor: pointer;
          &:hover {}
          &:active {
            width: 190px;
          height: 70px;
          }
          &:focus {width: 180px;
            height: 60px;}
        }

        .icons {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor:pointer;


          .contacs-icons {
             margin: 2em 1em;
          }
        }
        .autor {
        }


      }
    }
  }