@mixin mainFont {
  font-family: 'Montserrat', sans-serif;}
  body{
    @include mainFont;

  }
.wraper{
   .header {
     position: fixed;
     left: 0;
     top: 0;
     z-index: 50;
     width: 100%;
     &::before{
       content: "";
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-color: rosybrown;
     }
    .container {
      max-width: 1440px;
      margin: 0 auto;
      padding:0 10em;
       .header__burger {


      }
      .header__menu {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        .header__list {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          height: 5em;

        li {
          .header__link {
            font-weight: 500;
             &:hover {
               font-weight: 700;
             }
            &:active {}
            &:focus {}
          }
        }
      }
      }
    }
  }
}
@media(max-width:760px){

           .header__menu{
            height: 25em;

          }
          .header__list{
            flex-direction: column;
            display: block;
          }

          .header__link {
            margin: 1em 0;
          }
           .header__burger{
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            span{
              height: 2px;
              position: absolute;
              background-color:black;
              width: 100%;
              top:9px;
            }
          &::before,
          &::after{
            content:'';
            position: absolute;
            background-color:black;
            width: 100%;
            height: 2px;
            left: 0;
          }
          &::before{
            top: 0;
          }
          &::after{
            bottom: 0;
          }

          }

         }